.Weather {
	font-family: "Baloo Bhaijaan 2", cursive;
	padding: 20px;
	border-radius: 4px;
	background-color: #97d49b;
}

.Weather h1 {
	color: #170b3b;
	text-shadow: 1px 1px white;
	font-size: 70px;
	font-weight: bolder;
	margin: 10px 5px;
	line-height: 29px;
}
.Weather h3 {
	color: black;
	font-size: 20px;
	text-transform: uppercase;
	margin: 20px 50px;
	text-align: right;
}
.Weather .WeatherDescription {
	color: #170b3b;
	font-size: 20px;
}
.Weather ul {
	margin: 20px 10px;
	padding: 0;
}

.Weather li {
	color: #ecf87f;
	text-shadow: 1px 1px black;
	font-size: 25px;
	font-weight: bolder;
	line-height: 25px;
	list-style: none;
}

.Weather .temperature {
	font-weight: bolder;
	color: #ecf87f;
	font-size: 90px;
	text-shadow: 2px 2px #170b3b;
	line-height: 64px;
	margin-left: 50px;
	font-weight: bolder;
	margin-left: 10px;
}

.Weather canvas {
	margin: 10px auto;
}

.Weather .unit {
	color: #170b3b;
	font-size: 30px;
	font-weight: bolder;
	position: relative;
	line-height: 1;
	top: -34px;
}
